<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= blog.title %>
    </title>
    <%- include("header") -%>
        <base href="/">
        <link rel="stylesheet" href="css/blog.css">
</head>

<body>

    <section id="home" class="section-showcase">
        <div class="container">
            <div>
                <h1>
                    <%= blog.title %>
                </h1>
                <p class="cat">
                    <%= blog.category %>
                </p>
                <div class="date">
                    <%= blog.dateCreated %> By <a class="name" href="#"><%= blog.userName %></a>
                </div>
                <p>
                    <%= blog.description %>
                </p>
            </div>
            <img class="blogImg" src="<%= blog.imageURL %>" alt="" />
        </div>
    </section>

    <%- include("footer") -%>

</body>

</html>