<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        <%= posts.title %>
    </title>

    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/home.css">

</head>

<body>

    <%- include("header") -%>

        <div class="container">
            <div class="image">
                <p>
                <h1>
                    <%= posts.title %>
                </h1>
                <h4>
                    <%= posts.category %>
                </h4>
                </p>
                <img src="<%= posts.imageURL %>" alt="" />
            </div>
            <div class="info">
                <div>
                    <p>
                        <%= posts.description %>
                    </p>
                </div>
                <div>
                    <h6>
                        Created on <%= posts.dateCreated%>
                    </h6>
                </div>
            </div>
        </div>

        <%- include("footer") -%>

</body>

</html>